<!-- start custom head snippets -->
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="any">
<link rel="icon" type="image/png" sizes="48x48" href="{{ '/favicon-48x48.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/favicon-192x192.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
<meta name="apple-mobile-web-app-title" content="naoqoo2">
<meta name="application-name" content="naoqoo2">
<!-- end custom head snippets -->